#.gitignore
#ignore this bullshit

shapes3D/
*.wrl
_autosave*
*.bak
Gerbers/*.gbp
Gerbers/*.dxf
Gerbers/*.svg
Gerbers/Jove-bottom.pos
Manual/JOVE Manual cover.pdf
Manual/JOVE Manual cover.svg
Manual/JOVE Manual to print.svg
Manual/JOVE Manual vector text.pdf
Manual/JOVE Manual vector text.svg
Manual/JOVE Manual cover vector text.svg
Manual/JOVE Manual reduced.svg
Manual/JOVE Manual upload.pdf
Manual/JOVE Manual upload.svg
